from flask import Flask, request, redirect, url_for
import os
from werkzeug.utils import secure_filename
from datetime import datetime

app = Flask(__name__)
UPLOAD_FOLDER = 'static/uploads'
app.config['UPLOAD_FOLDER'] = UPLOAD_FOLDER

@app.route('/new_request', methods=['GET', 'POST'])
def new_request():
    if request.method == 'POST':
        title = request.form['title']
        description = request.form['description']
        lat = request.form['lat']
        lng = request.form['lng']
        image_file = request.files.get('image')

        filename = None
        if image_file and image_file.filename != '':
            filename = secure_filename(f"{datetime.utcnow().timestamp()}_{image_file.filename}")
            image_file.save(os.path.join(app.config['UPLOAD_FOLDER'], filename))

        # Save all data to database, e.g.:
        # new_req = Request(title=title, description=description, lat=lat, lng=lng, image=filename)
        # db.session.add(new_req)
        # db.session.commit()

        return redirect(url_for('index'))

    return render_template('new_request.html')
